<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="georeduy.client.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission
        android:name="georeduy.client.activities.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="georeduy.client.activities.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
        
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
	<uses-library android:name="com.google.android.maps" />
        <activity
            android:name=".SessionLoginActivity"
            android:label="@string/title_activity_session_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".GCMActivity" android:label="@string/title_activity_main"></activity>
        
        
        <activity android:name=".MapaActivity" android:label="@string/title_activity_main"></activity>
        
        <activity android:name=".SessionRegisterActivity" android:label="@string/title_activity_session_register"></activity>
        
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
        </activity>
        
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        
        <!-- session activities -->
        
        <activity
            android:name=".SessionRegisterFbk1Activity"
            android:label="@string/title_activity_session_register_fbk" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".SessionRegisterFbk2Activity"
            android:label="@string/title_activity_session_register_fbk" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <!-- list activities -->
        
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".ProductsListActivity"
            android:label="@string/title_activity_products_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".PurchasesListActivity"
            android:label="@string/title_activity_purchases_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".SitesListActivity"
            android:label="@string/title_activity_sites_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".StoresListActivity"
            android:label="@string/title_activity_stores_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".UsersListActivity"
            android:label="@string/title_activity_users_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".VisitsListActivity"
            android:label="@string/title_activity_visits_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <!-- detail activities -->
        
        <activity
            android:name=".ProductDetailActivity"
            android:label="@string/title_activity_product_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".PurchaseDetailActivity"
            android:label="@string/title_activity_purchase_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".SiteDetailActivity"
            android:label="@string/title_activity_site_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".StoreDetailActivity"
            android:label="@string/title_activity_store_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".UserDetailActivity"
            android:label="@string/title_activity_user_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".VisitDetailActivity"
            android:label="@string/title_activity_visit_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <!-- configure activities -->
        
        <activity
            android:name=".ConfigureNotificationsTagsActivity"
            android:label="@string/title_activity_configure_notitags" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".ConfigureNotificationsTypesActivity"
            android:label="@string/title_activity_configure_notitypes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <!-- use case activities -->
        
        <activity
            android:name=".PurchasePublishReviewActivity"
            android:label="@string/title_activity_purchase_publish_review" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".VisitPublishCommentActivity"
            android:label="@string/title_activity_visit_publish_comment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".ProductBuyAddItemActivity"
            android:label="@string/title_activity_product_buy_add_item" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".ProductsBuyListActivity"
            android:label="@string/title_activity_product_buy_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <uses-library android:name="com.google.android.maps" />
        
        <!--
          BroadcastReceiver that will receive intents from GCM
          services and handle them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="georeduy.client.activities" />
            </intent-filter>
        </receiver>

        <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.

          By default, it must be named .GCMIntentService, unless the
          application uses a custom BroadcastReceiver that redefines its name.
        -->
        <service android:name=".GCMIntentService" />
    </application>
</manifest>