<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GeoRedUy.BackEnd</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>georeduy.backend.controllers.Main</servlet-class>
    <init-param>
      <param-name>content</param-name>
      <param-value>home</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>wLayout</servlet-name>
    <servlet-class>georeduy.backend.controllers.Layout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>wLoginLayout</servlet-name>
    <servlet-class>georeduy.backend.controllers.LoginLayout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>wLogin</servlet-name>
    <servlet-class>georeduy.backend.controllers.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>wHome</servlet-name>
    <servlet-class>georeduy.backend.controllers.Home</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>wTest</servlet-name>
    <servlet-class>georeduy.backend.controllers.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wHome</servlet-name>
    <url-pattern>/w/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wLayout</servlet-name>
    <url-pattern>/w/layout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wLoginLayout</servlet-name>
    <url-pattern>/w/login_layout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wLogin</servlet-name>
    <url-pattern>/w/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wTest</servlet-name>
    <url-pattern>/w/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/main/*</url-pattern>
  </servlet-mapping>
  
	<filter>
		<filter-name>RewriteURL</filter-name>
		<filter-class>georeduy.backend.util.RewriteURL</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>RewriteURL</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>